In [2]:
import pandas as pd

In [24]:
import pandas as pd

phone = ["09259469046", "0620755302", "00000000"]
email = ["kyi@gmail.com", "kyi@ait.asia"]

# Determine the maximum length
max_length = max(len(phone), len(email))

# Pad the lists with None to the maximum length
phone += [""] * (max_length - len(phone))
email += [""] * (max_length - len(email))

info = {'phone': phone, "email": email}

df = pd.DataFrame(info)

In [25]:
df

         phone          email
0  09259469046  kyi@gmail.com
1   0620755302   kyi@ait.asia
2     00000000

In [ ]:
df

         phong          email
0  09259469046  kyi@gmail.com
1   0620755302   kyi@ait.asia

In [ ]:
df1= pd.DataFrame.from_dict(info, orient='index')

In [ ]:
df1

                   0             1
phong    09259469046    0620755302
email  kyi@gmail.com  kyi@ait.asia

In [47]:
phone_1 = ["09259469046", "0620755302", "00000000"]
email_1 = ["kyi@gmail.com", "kyi@ait.asia"]

info = {'phone': phone_1, "email": email_1}

df1 = pd.DataFrame()

for key, value in info.items():
    print(key)
    print(",".join(info[key]))
    value = ",".join(info[key])
    df1[key] = value
    # df["phone"] = info

phone
09259469046,0620755302,00000000
email
kyi@gmail.com,kyi@ait.asia

In [45]:
df1.phone

Series([], Name: phone, dtype: object)